annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
certifi @ file:///C:/miniconda3/conda-bld/certifi_1763135347537/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
click==8.3.1
colorama==0.4.6
exceptiongroup==1.3.1
fastapi==0.124.2
filelock @ file:///C:/miniconda3/conda-bld/filelock_1762420019633/work
fsspec==2025.12.0
geopandas==1.1.1
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748105976/work
h11==0.16.0
httptools==0.7.1
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592981169/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593075610/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy @ file:///C:/b/abs_81ri0q57xq/croot/numpy_and_numpy_base_1755590863635/work/dist/numpy-1.26.4-cp310-cp310-win_amd64.whl#sha256=b6162b3d8f61a8b10293d275d39feb04e0969ade6c6fdf4251eb84d35b403681
packaging==25.0
pandas==2.3.3
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
pydantic==2.12.5
pydantic_core==2.41.5
pyogrio==0.12.1
pyproj==3.7.1
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1759222090244/work/dist/scipy-1.15.3-cp310-cp310-win_amd64.whl#sha256=2c02ce5f7bc108a9dd2298fac421e55898c14864219396421ffe00419ec8c736
shapely==2.1.2
six==1.17.0
starlette==0.50.0
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762978780/work
torch==2.2.2
torchaudio==2.2.2
torchvision @ file:///C:/b/abs_61prww4bv9/croot/torchvision_1689079992237/work
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.2
urllib3 @ file:///C:/miniconda3/conda-bld/urllib3_1765399228861/work
uvicorn==0.38.0
watchfiles==1.1.1
websockets==15.0.1
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
